<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Symfony2 Bundles</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png" />
    <link href="{{ path('latest', {'_format': 'atom'}) }}" rel="alternate" title="ATOM" type="application/atom+xml" />
    <link href="{{ asset('bundles/knpsymfony2bundles/css/reset.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('bundles/knpsymfony2bundles/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7062980-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body {% block body_attributes %}{% endblock %}>
    <div class="ribbon">
        <a href="http://github.com/knplabs/symfony2bundles"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:1000;" src="https://assets2.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_orange_ff7600.png&path=" alt="Fork me on GitHub"></a>
    </div>
    <div id="header">
        <div id="header-inner">
            <a href="{{ path('homepage') }}" title="Back to the homepage" id="logo">
                <img src="{{ asset('bundles/knpsymfony2bundles/images/logo.png') }}" alt="Symfony2 Bundles" />
            </a>
            <a href="http://www.knplabs.com" title="KnpLabs - Quality. Innovation. Excitement" id="knplabs">
                <img src="{{ asset('bundles/knpsymfony2bundles/images/knplabs.png') }}" alt="KnpLabs" />
            </a>
            {{ menu('main') }}
            <form method="get" action="{{ path('search') }}" id="search-box">
                <label for="search-query">Search:</label>
                <input type="text" id="search-query" name="q" value="{% block search_query %}{% endblock %}" />
                <button id="search-btn" title="Submit search">Search</button>
            </form>
        </div>
    </div><!-- /#header -->
    <div id="content-wrapper">
        <div id="content" class="clearfix">
            <div id="content-title">
                {% block content_title %}</h1>
                <h1>{% block h1 %}{% endblock %}</h1>
                {% endblock %}
            </div>
            {% block content %}{% endblock %}
        </div><!-- /#content -->
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                <dl>
                    <dt><a href="{{ path('homepage') }}">Home</a></dt>
                </dl>
                <dl>
                    <dt><a href="{{ path('bundle_list') }}">Bundles</a></dt>
                    <dd>
                        <ul>
                            <li><a href="{{ path('bundle_list', {'sort': 'score'}) }}">by score</a></li>
                            <li><a href="{{ path('bundle_list', {'sort': 'name'}) }}">by name</a></li>
                            <li><a href="{{ path('bundle_list', {'sort': 'lastCommitAt'}) }}">by last commit date</a></li>
                            <li><a href="{{ path('bundle_list', {'sort': 'createdAt'}) }}">by creation date</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="{{ path('project_list') }}">Projects</a></dt>
                    <dd>
                        <ul>
                            <li><a href="{{ path('project_list', {'sort': 'score'}) }}">by score</a></li>
                            <li><a href="{{ path('project_list', {'sort': 'name'}) }}">by name</a></li>
                            <li><a href="{{ path('project_list', {'sort': 'lastCommitAt'}) }}">by last commit date</a></li>
                            <li><a href="{{ path('project_list', {'sort': 'createdAt'}) }}">by creation date</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="{{ path('user_list') }}">Developers</a></dt>
                    <dd>
                        <ul>
                            <li><a href="{{ path('user_list', {'sort': 'name'}) }}">by name</a></li>
                            <li><a href="{{ path('user_list', {'sort': 'score'}) }}">by score</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="right">
                    <dt>Symfony2Bundles</dt>
                    <dd>
                        <li>powered by KnpLabs' <a href="http://www.knplabs.com">Symfony2 developers</a></li>
                        <li>designed and created by <a href="http://www.poska.fr" title="Website design, webdesign, css / html">web studio Poska</a></li>
                    </dd>
                </dl>

            </div>
        </div>
    </div><!-- /#footer-wrapper -->
</body>
</html>
