<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Symfony2 Bundles</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png" />
    <link href="{{ path('latest', {'format': 'atom'}) }}" rel="alternate" title="ATOM" type="application/atom+xml" />
    <link href="{{ asset('bundles/knpsymfony2bundles/css/reset.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('bundles/knpsymfony2bundles/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7062980-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body {% block body_attributes %}{% endblock %}>
    <div id="header">
        <div id="header-inner">
            <a href="{{ path('bundle_list') }}" title="Back to the homepage" id="logo">
                <img src="{{ asset('bundles/knpsymfony2bundles/images/logo.png') }}" alt="Symfony2 Bundles" />
            </a>
            <a href="http://www.knplabs.com" title="KnpLabs - Quality. Innovation. Excitement" id="knplabs">
                <img src="{{ asset('bundles/knpsymfony2bundles/images/knplabs.png') }}" alt="KnpLabs" />
            </a>
            {{ menu('main') }}
            <div id="global-gplusone"><g:plusone href="http://symfony2bundles.org/"></g:plusone></div>

        </div>
    </div><!-- /#header -->

    <div id="content-wrapper">
        <form method="get" action="{{ path('search') }}" id="search-box">
            <label for="search-query">Search:</label>
            <input type="text" id="search-query" name="q" value="{% block search_query %}{% endblock %}" />
            <button id="search-btn" title="Submit search">Search</button>
        </form>
        <div id="global-tip">Press 's' or '/' to focus the search field ('esc' will unfocus).<br>Use ↓ / j, ↑ / k and 'enter' to navigate. Use → / l, ← / h to paginate.</div>
        
        <div id="content" class="clearfix">
            <div id="content-title">
                {% block content_title %}
                <h1>{% block h1 %}{% endblock %}</h1>
                {% endblock %}
            </div>
            {% block content %}{% endblock %}
        </div><!-- /#content -->
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                <dl>
                    <dt><a href="{{ path('bundle_list') }}">Symfony2 Bundles</a></dt>
                    <dd>
                        <ul>
                            <li><a href="https://github.com/knplabs/symfony2bundles">Show the code on Github</a></li>
                            <li><a href="{{ path('api') }}">API</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="http://www.knplabs.com">Knp Labs</a></dt>
                    <dd>
                        <ul>
                            <li><a href="http://www.knplabs.com">Symfony2 consulting</a></li>
                            <li><a href="http://www.knplabs.com/en/symfony-training-nyc-nashville-us">Symfony2 trainings</a></li>
                            <li><a href="http://twitter.com/knplabs">Knp on Twitter</a></li>
                            <li><a href="http://behat.org">Behat: BDD framework for PHP</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="right">
                    <dt>Symfony2Bundles</dt>
                    <dd>
                        <li>powered by KnpLabs' <a href="http://www.knplabs.com">Symfony2 developers</a></li>
                        <li>designed and created by <a href="http://www.poska.fr" title="Website design, webdesign, css / html">web studio Poska</a></li>
                    </dd>
                </dl>

            </div>
        </div>
    </div><!-- /#footer-wrapper -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.0/styles/github.min.css">
    <script src="http://yandex.st/highlightjs/6.0/highlight.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ asset('bundles/knpsymfony2bundles/js/jquery.hotkeys.js') }}"></script>
    <script src="{{ asset('bundles/knpsymfony2bundles/js/jquery.ba-viewportoffset.min.js') }}"></script>
    <script src="{{ asset('bundles/knpsymfony2bundles/js/keyboard.navigation.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    </body>
</html>
