{% extends 'KnplabsSymfony2BundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="repo-show"{% endblock %}

{% block title %}{{ repo.name }} by {{ repo.username }}{% endblock %}

{% block h1 %}{{ repo.name }}{% endblock %}

{% block description %}{{ repo.description }}{% endblock %}

{% block content %}
    <div id="main">
        <div class="actions">
            <a class="button github" href="{{ repo.gitHubUrl }}">View on Github</a>
        </div>
        <a class="user" href="{{ path('user_show', {'name': repo.username}) }}">by {{ repo.username }}</a>
        <div class="details">
            <ul class="infos">
                <li>Score <span>{{ repo.score }}</span></li>
                <li>Created the <span>{{ repo.createdAt|date('Y-m-d') }}</span></li>
                <li>Nb of contributors <span>{{ repo.nbContributors }}</span></li>
                <li>Nb of followers <span>{{ repo.nbFollowers }}</span></li>
            </ul>
            <p class="description">{{ repo.description }}</p>
        </div>
    </div>
    {% if repo.readme %}
    <div id="data">
        <ul class="tabs">
            <li class="current"><a href="#readme">Readme</a></li>
        </ul>
        <div id="readme" class="tab-content">
            <div class="markdown">
                {{ repo.readme|markdown|raw }}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
