<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} | KnpBundles</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block meta %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">

    <link rel="alternate" href="{{ path('latest', {'format': 'atom'}) }}" title="ATOM" type="application/atom+xml">
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    {% stylesheets filter="cssrewrite, ?yui_css"
        'bundles/knpbundles/css/bootstrap.min.css'
        'bundles/knpbundles/css/styles.css'
        'bundles/knpbundles/css/highlightjs-css/github.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
    {% endstylesheets %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body{% block body_attributes %}{% endblock %}>

<header id="page-header">
    <section>
        <h1 id="logo"><a href="{{ path('bundle_list') }}"><img src="{{ asset('bundles/knpbundles/images/logo.gif') }}" alt="KnpBundles"></a></h1>

        <nav>
            {{ knp_menu_render(knp_menu_get('main').setAttribute('id', 'menu')) }}
        </nav>

        {% render controller('KnpBundlesBundle:Developer:userbar') %}

        <form method="get" action="{{ path('search') }}" id="search-box">
            <label for="search-query">{% trans %}search.label{% endtrans %}</label>
            <input type="text" id="search-query" name="q" value="{{ query|default('') }}" placeholder="Search..."><input type="submit" id="search-btn" value="&nbsp;">
        </form>
    </section>
</header>

<div id="content-wrapper" class="clearfix">
    <div id="content-center"{% block content_attributes %}{% endblock %}>
        {% block content_header %}
        <div id="content-header">
            {% block promo -%}
                {% render controller('KnpBundlesBundle:Main:banner') %}
            {%- endblock %}

            {% block intro -%}
                <div></div>
            {%- endblock %}
        </div>
        {% endblock %}

        {% block content_holder %}
        <div id="content-holder">
            {% block sidebar %}
            <div id="sidebar">
                {% block right %}{% endblock %}
            </div>
            {% endblock %}

            {% block content %}
            <div id="content">
                {% block left %}{% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>

<footer id="page-footer">
    <section>
        <section id="copyrights">
            <h2><a href="http://knplabs.com/" hreflang="en"><img src="{{ asset('bundles/knpbundles/images/knp_logo.png') }}" alt="KnpBundles"></a></h2>
            <p>Copyright &copy; {{ "now"|date('Y') }} <a href="http://knplabs.com/" hreflang="en"><strong>KnpBundles.com</strong></a><br>All rights reserved</p>

            <ul>
                <li><a href="http://knplabs.com/" hreflang="en">KnpLabs World</a></li>
                <li><a href="http://knplabs.fr/" hreflang="fr">KnpLabs France</a></li>
            </ul>
        </section>

        <nav>
            <dl>
                <dt><a href="{{ path('bundle_list') }}">KnpBundles</a></dt>
                <dd>
                    <ul>
                        <li><a href="https://github.com/knplabs/knpbundles">{% trans %}footer.code{% endtrans %}</a></li>
                        <li><a href="{{ path('api') }}">API</a></li>
                        <li><a href="{{ path('faq_scoring') }}">{% trans %}Scoring FAQ{% endtrans %}</a></li>
                        <li><a href="{{ path('symfony2bundles') }}">Symfony2bundles</a></li>
                        <li><a href="https://github.com/KnpLabs/KnpBundles/issues/new">{% trans %}footer.report_issue{% endtrans %}</a></li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt><a href="http://knplabs.com/" hreflang="en">KnpLabs</a></dt>
                <dd>
                    <ul>
                        <li><a href="http://knplabs.com/training/symfony2" hreflang="en">Symfony training</a> (World)</li>
                        <li><a href="http://knplabs.fr/formation/symfony2" hreflang="fr">Formation Symfony</a> (France)</li>
                        <li><a href="http://knpuniversity.com/">Symfony tutorial</a> screencast</li>

                        <li><a href="http://twitter.com/knplabs">KnpLabs on Twitter</a></li>
                        <li><a href="http://behat.org/">Behat: BDD framework for PHP</a></li>
                    </ul>
                </dd>
            </dl>
        </nav>
    </section>
</footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7062980-9']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

{% javascripts filter='?yui_js'
    'bundles/knpbundles/js/jstorage.min.js'
    'bundles/knpbundles/js/jquery.hotkeys.js'
    'bundles/knpbundles/js/jquery-ui.min.js'
    'bundles/knpbundles/js/bootstrap.min.js'
    'bundles/knpbundles/js/main.js'
    'bundles/knpbundles/js/highlightjs-js/highlight.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</body>
</html>
