<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | KnpBundles</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="canonical" href="{{ locale_url(app.request, 'en') }}" />
    <link rel="alternate" hreflang="fr" href="{{ locale_url(app.request, 'fr') }}" />
    <link rel="alternate" hreflang="en" href="{{ locale_url(app.request, 'en') }}" />
    <link rel="alternate" hreflang="pl" href="{{ locale_url(app.request, 'pl') }}" />

    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png" />
    <link href="{{ path('latest', {'format': 'atom'}) }}" rel="alternate" title="ATOM" type="application/atom+xml" />
    <link href="{{ asset('bundles/knpbundles/css/reset.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('bundles/knpbundles/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('bundles/knpbundles/css/tipsy.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7062980-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body {% block body_attributes %}{% endblock %}>
    <div id="header">
        <div class="center">
            {{ knp_menu_render(knp_menu_get('main').setAttribute('id', 'menu')) }}
            <div id="auth">
                {% if app.user is not null %}
                <li><img src="{{ gravatar_hash(app.user.gravatarHash, 30, none, 'identicon') }}" /></li>
                <li class="current"><span>{{ app.user }}</span></li>
                <li><a href="{{ path('logout') }}">Log out</a></li>
                {% else %}
                <li><a class="login" href="{{ path('login') }}">Login via GitHub</a></li>
                {% endif %}
            </div>
        </div>
    </div><!-- /#header -->
    <div id="header2">
        <div class="center">
            <a href="{{ path('bundle_list') }}" title="KnpBundles" id="logo">
                <img src="{{ asset('bundles/knpbundles/images/knpbundles.png') }}" alt="Knp Bundles: {{ 'header.baseline'|trans }}" />
            </a>
            <div id="baseline">The Unofficial Selection</div>

            <form method="get" action="{{ path('search') }}" id="search-box">
                <label for="search-query">{% trans %}search.label{% endtrans %}</label>
                <input type="text" id="search-query" name="q" value="{% block search_query %}{% endblock %}" />
                <button id="search-btn" class="button">{% trans %}search.label{% endtrans %}</button>
            </form>

            {% render 'KnpBundlesBundle:Main:banner' %}
        </div>
    </div>
    <div id="content-wrapper">
        <div class="center">
            <div id="content" class="clearfix">
                {% block content %}{% endblock %}
            </div><!-- /#content -->
        </div>
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                <dl>
                    <dt><a href="{{ path('bundle_list') }}">KnpBundles</a></dt>
                    <dd>
                        <ul>
                            <li><a href="https://github.com/knplabs/knpbundles">{% trans %}footer.code{% endtrans %}</a></li>
                            <li><a href="{{ path('api') }}">API</a></li>
                            <li><a href="{{ path('symfony2bundles') }}">Symfony2bundles</a></li>
                            
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="http://knplabs.com">KnpLabs</a></dt>
                    <dd>
                        <ul>
                            <li><a href="http://knplabs.com/training/symfony2">Symfony training (World)</a></li>
                            <li><a href="http://knplabs.fr/formation/symfony2" hreflang="fr" lang="fr">Formation Symfony (France)</a></li>
                            <li><a href="http://knplabs.co.uk/training/symfony2">Symfony training in London</a></li>

                            <li><a href="http://twitter.com/knplabs">Knp on Twitter</a></li>
                            <li><a href="http://behat.org">Behat: BDD framework for PHP</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>{% trans %}footer.language.title{% endtrans %}</dt>
                    <dd>
                        <ul>
                            <li><a hreflang="en" href="{{ locale_url(app.request, 'en') }}">{% trans %}footer.language.en{% endtrans %}</a></li>
                            <li><a hreflang="fr" href="{{ locale_url(app.request, 'fr') }}">{% trans %}footer.language.fr{% endtrans %}</a></li>
                            <li><a hreflang="pl" href="{{ locale_url(app.request, 'pl') }}">{% trans %}footer.language.pl{% endtrans %}</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="right">
                    <dt>{% trans %}credits.title{% endtrans %}</dt>
                    <dd>
                        <li><a href="http://knplabs.com">{% trans %}credits.lead_dev{% endtrans %}</a></li>
                        <ul style="font-size: 11px; ">
                        <li><a style="text-decoration: none;" hreflang="en" href="http://knplabs.com">KnpLabs World</a></li>
                        <li><a style="text-decoration: none;" hreflang="fr" href="http://knplabs.fr">KnpLabs France</a></li>
                        </ul>
                    </dd>
                </dl>

            </div>
        </div>
    </div><!-- /#footer-wrapper -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.0/styles/github.min.css">
    <script src="http://yandex.st/highlightjs/6.0/highlight.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ asset('bundles/knpbundles/js/jquery.hotkeys.js') }}"></script>
    <script src="{{ asset('bundles/knpbundles/js/jquery.ba-viewportoffset.min.js') }}"></script>
    <script src="{{ asset('bundles/knpbundles/js/jquery.tipsy.js') }}"></script>
    <script src="{{ asset('bundles/knpbundles/js/main.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
