<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | Symfony2 Bundles</title>
        <meta content="{% block description %}{% endblock %}" name="description">
        <link rel="shortcut icon" href="/favicon.png" type="image/png" />
        <link href="{{ path('latest', { '_format': 'atom' }) }}" rel="alternate" title="ATOM" type="application/atom+xml" />

        <link href="{{ asset('bundles/s2b/css/reset.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/s2b/vendor/tipsy/stylesheets/tipsy.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/s2b/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body>
        <!--header -->
        <div id="header-wrap">
            <div id="header">
                <a href="{{ path('homepage') }}" id="logo">
                    {% block logo %}<img alt="Symfony2Bundles" src="{{ asset('bundles/s2b/images/bundle76.png') }}" width="76" height="76" />{% endblock %}
                </a>
                <h1>
                    {% block h1 %}Symfony<span>2</span> Bundles{% endblock %}
                </h1>
                <p class="slogan">
                {% block slogan %}Find the Bundles you need for your Symfony project!{% endblock %}
                </p>

                <div id="nav">
                    {{ menu('main') }}
                </div>

                <form id="quick-search" method="get" action="{{ path('search') }} ?>">
                    <fieldset class="search">
                        <label for="qsearch">Search:</label>
                        <input class="tbox hint" id="qsearch" type="text" name="q" value="{% block search_query %}Search...{% endblock %}" />
                        <button class="btn" title="Submit Search">Search</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <!--/header-->

        <!-- content-outer -->
        <div id="content-wrap" class="clear" >
            <!-- content -->
            <div id="content">

                <!-- main -->
                <div id="main">
                    {% block content %}{% endblock %}
                </div>

                <!-- sidebar -->
                <div id="sidebar">
                    {% block sidemenu %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- footer-outer -->
        <div id="footer-outer" class="clear"><div id="footer-wrap">

                <div class="col-a">
                    <h3>Featured Bundles</h3>
                    <div class="footer-list">
                        {% render 'S2bBundle:Bundle:listBestScore' %}
                    </div>
                </div>

                <div class="col-a">
                    <h3>Popular Bundles</h3>
                    <div class="footer-list">
                        {% render 'S2bBundle:Bundle:listPopular' %}
                    </div>
                </div>

                <div class="col-a">
                    <h3>New Bundles</h3>
                    <div class="footer-list">
                        {% render 'S2bBundle:Bundle:listLastCreated' %}
                    </div>
                </div>

                <div class="col-a">
                    <h3>Just updated</h3>
                    <div class="footer-list">
                        {% render 'S2bBundle:Bundle:listLastUpdated' %}
                    </div>
                </div>

                <!-- /footer-outer -->
        </div></div>

        <!-- footer-bottom -->
        <div id="footer-bottom">

            <p class="bottom-left">
                Powered by <a href="http://www.symfony-reloaded.org/">Symfony2</a> &amp <a href="http://www.doctrine-project.org/">Doctrine2</a> |
                Template by <a href="http://www.styleshout.com/">styleshout</a> |
                Supported by <a class="knplabs" href="http://www.knplabs.com/" title="French web agency who loves Symfony2"><img alt="knpLabs logo" src="{{ asset('bundles/s2b/images/knplabs20.png') }}" /></a>
            </p>

            <p class="bottom-right">
                <a href="{{ path('homepage') }}">Home</a> |
                <a href="{{ path('latest', { '_format': 'atom' }) }}">Syndication</a> |
                <a href="http://github.com/knplabs/symfony2bundles">Code</a> |
                <a href="http://symfony2bundles.uservoice.com/">Feedback</a> |
                <strong><a href="#header">Back to Top</a></strong>
            </p>

            <!-- /footer-bottom-->
        </div>
        <a class="fork_me" title="Fork {% block repo_name %}symfony2bundles{% endblock %} on GitHub" href="{% block repo_url %}http://github.com/knplabs/symfony2bundles{% endblock %}"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
        <script type="text/javascript" src="{{ asset('bundles/s2b/vendor/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/s2b/vendor/tipsy/javascripts/jquery.tipsy.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/s2b/js/ctrl.js') }}"></script>
    </body>
</html>
