{% extends 'S2bBundle::layout.html.twig' %}

{% block h1 %}<span>{{ repos|length }}</span> Bundles{% endblock %}

{% block title %}All {{ repos|length }} Bundles{% endblock %}

{% block description %}All Open Source Symfony2 Bundles sorted by {{ sort }}{% endblock %}

{% block slogan %}All Open Source Bundles sorted by {{ sort }}{% endblock %}

{% block sidemenu %}
<h3>Sort by</h3>
<div class='sidemenu uppercase'>
    <ul>
    {% for field, text in fields %}
        {% if field == sort %}
        <li class='current'>
        {% else %}
        <li>
        {% endif %}
            <a href='{{ path('bundle_list', {'sort': field}) }}'>{{ text }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% include 'S2bBundle:Repo:add.html.twig' %}
{% endblock %}

{% block content %}
{% include 'S2bBundle:Bundle:bigList.html.twig' with {'repos': repos} %}
{% endblock %}
