{% extends 'KnpBundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="developers-list"{% endblock %}

{% block title %}{% trans with {'%count%': users.totalItemCount, '%sort%': sort} %}users.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans with {'%count%': users.totalItemCount, '%sort%': sort} %}users.meta.description{% endtrans %}{% endblock %}

{% block h1 %}{% trans with {'%count%': users.totalItemCount, '%sort%': sort, '[': '<span>', ']': '</span>'} %}users.title{% endtrans %}{% endblock %}

{% block content %}
    <div id="main">
        <div id="sort">
            <ul class="tabs">
                {%- for field, text in sortLegends %}
                <li{{ field == sort ? ' class="current"' : '' }}>
                    <a href='{{ path('user_list', {'sort': field}) }}'>{{ text|trans }}</a>
                </li>
                {%- endfor %}
            </ul>
        </div>
        <ul class="developers-list">
            {%- for user in users %}
            <li class="developer">
                <div class="image">
                    <a href="{{ url('user_show', {'name': user.name}) }}" class="name">
                        <img src="{{ gravatar_hash(user.gravatarHash, 50, none, 'identicon') }}" alt="{{ user.name }}, Symfony developer" />
                    </a>
                </div>
                <div class="generals">
                    <a class="name" href="{{ url('user_show', {'name': user.name}) }}">{{ user.name }}</a>
                    {%- if user.location %}
                    {% trans %}users.list.location{% endtrans %}
                    <span class="location">{{ user.location }}</span>
                    {%- endif %}
                </div>
                <div class="details">
                    <ul class="infos">
                        <li>{% trans %}users.list.lastCommit{% endtrans %} <span>{{ user.lastCommitAt|date('date_format'|trans) }}</span></li>
                    </ul>
                </div>
            </li>
            {%- endfor %}
        </ul>
        {{ users|paginate }}
    </div>
{% endblock %}
