{% extends 'KnpBundlesBundle::layout/900px.html.twig' %}

{% block title %}{{ user.name }} - {{ user.fullName }}{% endblock %}

{% block description %}{% trans with {'%username%': user.fullName, '%nb%': user.nbBundles} %}bundles.show.infos.score{% endtrans %}{% endblock %}

{% block content_attributes %} class="developer"{% endblock %}

{% block intro %}
<div id="intro" class="user-details">
    <figure>
        <img src="{{ user.gravatarHash|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=55') }}" alt="{{ user.name }}" width="55" height="55" alt="">
    </figure>

    <h1>{{ user.name }}</h1>
    <h2>{{ user.fullName }}</h2>
</div>
{% endblock %}

{% block right_holder %}
<div class="content-half pull-right">
    <div class="content-box">
        <hgroup>
            <h2>Some info about <strong>{{ user.name }}</strong></h2>
        </hgroup>

        <section class="card">
            <ul>
                <li><i class="icon-location"></i><strong>{% trans %}users.show.stats.location{% endtrans %}</strong> {{ user.location|default('unknown') }}</li>
                <li><i class="icon-calendar"></i><strong>{% trans %}users.show.stats.lastCommit{% endtrans %}</strong> {{ user.lastCommitAt|date('date_format'|trans) }}</li>
                <li><i class="icon-box"></i><strong>{% trans %}users.show.stats.nbBundles{% endtrans %}</strong> {{ user.nbBundles }}</li>
                {%- if user.blog %}
                <li><i class="icon-globe"></i><strong>{% trans %}users.show.stats.blog{% endtrans %}</strong> <a href="{{ user.blog }}" rel="nofollow">{{ user.blog }}</a></li>
                {%- endif %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}

{% block left_holder %}
<div class="content-half pull-left">
    <div class="content-box tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#owned" data-toggle="tab">{% trans %}users.show.bundles_manage{% endtrans %}</a></li>
            <li><a href="#contribute" data-toggle="tab">{% trans %}users.show.bundles_contribute{% endtrans %}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="owned">
            {%- if user.bundles|length > 0 %}
                {% include 'KnpBundlesBundle:Bundle:mediumList.html.twig' with {'bundles': user.bundles} %}
            {%- else %}
                <p>This user don't owe any bundle.</p>
            {%- endif %}
            </div>

            <div class="tab-pane" id="contribute">
            {%- if user.contributionBundles|length > 0 %}
                {% include 'KnpBundlesBundle:Bundle:mediumList.html.twig' with {'bundles': user.contributionBundles} %}
            {%- else %}
                <p>This user never contributed to any bundle.</p>
            {%- endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
