<ul class="repo-list clickable-list">
{% for repo in repos %}
    <li class="item">
        <span class="score">{{ repo.score }}</span>
        <a class="item-link" href="{{ path('repo_show', {'username': repo.username, 'name': repo.name}) }}">
            <img class="gravatar" src="{{ asset('bundles/knplabssymfony2bundles/images/lego32.png') }}" />
            {{ repo.shortName }}<span>Bundle</span><em>{{ repo.lastTagName }}</em>
        </a>
        <span class="description">{{ repo.description }}</span>
    </li>
{% endfor %}
</ul>
