<div id="best-scored-bundles">
    <h2>Best scored bundles</h2>
    <ul class="bundles_list">
        {% for i, bundle in bundles %}
        <li class="bundle">
            <a href="{{ path('repo_show', {'username': bundle.username, 'name': bundle.name}) }}">
                <span class="name">{{ bundle.name }}</span>
                <span class="number">{{ i + 1 }}</span>
                <span class="rank">{{ bundle.score }}</span>
                <span class="description">{{ bundle.description }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
