{% extends 'KnpBundlesBundle::layout/960px.html.twig' %}

{% block title %}{% trans %}addBundle.addBundle{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>{% trans %}addBundle.addBundle{% endtrans %}</h1>
    <h2>Can't find your bundle? Simply add it here!</h2>
</div>
{% endblock %}

{% block left %}
<div class="content-box">
    <hgroup>
        <h2></h2>
        <h4>{% trans %}addBundle.introText{% endtrans %}</h4>
    </hgroup>

    <section class="add-bundle">
        <ul>
            <li class="success">
                <span class="success"></span>
                <form action="{{ path('add_bundle') }}" method="post">
                    <label for="bundle">Enter GitHub repo URL:</label>
                    <input type="text" id="bundle" name="bundle" value="{{ bundle|default('https://github.com/') }}" />
                    <button id="add-bundle-btn" class="btn" type="submit">{% trans %}addBundle.addBundle{% endtrans %}</button>
                </form>
            </li>
            <li class="unknown hide">
                <span class="unknown"><img src="{{ asset('bundles/knpbundles/images/ajax_loader.gif') }}" alt=""></span>
                Repository exist, validating data...
            </li>
            <li class="error hide">
                <span class="error"></span>
                <p class="alert alert-error">Repository exist, validating data...</p>
            </li>
            <li class="alert alert-error{% if not error %} hide{% endif %}">
                {{ errorMessage ? errorMessage|trans : 'Houston, we have a problem! Selected repo probably don’t exist. Try enter another repo.' }}
            </li>
            <li class="alert alert-success hide">
                <strong>Hey, friend!</strong> Thanks for adding your bundle to our database!
            </li>
        </ul>
    </section>
</div>
{% endblock %}

{% block right %}
<div class="sidebar-box sidebar-recent">
    <hgroup>
        <h2>Newest Bundles</h2>
    </hgroup>

    <section>
        <ul>
            {% for bundle in bundles %}
            <li>
                <img src="{{ bundle.owner.avatarUrl|default('http://www.gravatar.com/avatar/?s=30&d=identicon&f=y') }}" alt="" width="30" height="30">

                <a href="{{ path('bundle_show', {'ownerName': bundle.ownerName, 'name': bundle.name}) }}">{{ bundle.name }}</a>
                <span>{{ bundle.createdAt|date('d-m-Y') }} by <strong>{{ bundle.ownerName }}</strong></span>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
