{% extends 'KnpBundlesBundle::layout/960px.html.twig' %}

{% block title %}{% trans %}evolution.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}evolution.description{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>Our recent statistics</h1>
</div>
{% endblock %}

{% block right_holder %}{% endblock %}

{% block left_holder %}
<div class="content-box">
    <hgroup>
        <h2>{% trans %}evolution.title{% endtrans %}</h2>
        <h4>{{ 'evolution.number_score.text'|trans|markdown }}</h4>
    </hgroup>

    <section class="graph">
        {% include 'KnpBundlesBundle::layout/chart.html.twig' %}

        <ul id="total-stats">
            <li>
                <div>
                    <img src="{{ asset('bundles/knpbundles/images/icon_big_bundle.png') }}" alt="">
                    <span>{{ bundles }}</span><br>Bundles
                </div>
            </li>
            <li>
                <div>
                    <img src="{{ asset('bundles/knpbundles/images/icon_big_dev.png') }}" alt="">
                    <span>{{ developers }}</span><br>Developers
                </div>
            </li>
            <li>
                <div>
                    <img src="{{ asset('bundles/knpbundles/images/icon_big_org.png') }}" alt="">
                    <span>{{ organizations }}</span><br>Organizations
                </div>
            </li>
        </ul>
    </section>
</div>
{% endblock %}
