{% extends 'KnpBundlesBundle::layout/900px.html.twig' %}

{% block title %}{% trans with {'%count%': bundles.nbResults, '%sort%': sort} %}bundles.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans with {'%count%': bundles.nbResults, '%sort%': sort} %}bundles.meta.description{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>Over {{ bundles.nbResults }} bundles</h1>
    <h2>Find a bundle that fits your needs!</h2>
</div>
{% endblock %}

{% block left %}
<div class="content-box">
    <hgroup>
        <div class="btn-group btn-sort">
            <button class="btn dropdown-title" data-toggle="dropdown"><i class="icon-{{ sort }}"></i>{{ sortLegends[sort]|trans }}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {%- for field, text in sortLegends %}
                <li><i class="icon-{{ field }}"></i><a href="{{ path('bundle_list', {'sort': field}) }}">{{ text|trans }}</a></li>
                {%- endfor %}
            </ul>
        </div>

        <h2>{% trans with {'%count%': bundles.nbResults, '%sort%': sort, '[': '<span>', ']': '</span>'} %}bundles.title{% endtrans %}</h2>
    </hgroup>

    <section class="bundles-list">
        {% include 'KnpBundlesBundle:Bundle:bigList.html.twig' with {'bundles': bundles} %}

        {{ pagerfanta(bundles, 'knp_bundles_view') }}
    </section>
</div>
{% endblock %}

{% block right %}
<div class="sidebar-box sidebar-chart">
    <hgroup>
        <h2>Statistics</h2>
    </hgroup>

    <section>
        {% include 'KnpBundlesBundle::layout/chart.html.twig' with {'simple': true} %}

        <h4><a href="{{ path('evolution') }}">Discover evolution of Symfony2 ecosystem</a></h4>
    </section>
</div>

<div class="sidebar-box sidebar-knpuniversity">
    <section>
        <h1><a href="http://knpuniversity.com/">Screencasts for Symfony2</a></h1>

        <div class="logo">
            <a href="http://knpuniversity.com/" class="play" src="{{ asset('bundles/knpbundles/images/logo_knpuniversity_play.png') }}" alt="KNP University">
            </a>
        </div>

        <!-- <div class="baseline">Your comfy place for Symfony and PHP Tutorials</div> -->
        <div class="baseline">Your Symfony and PHP Video Tutorials</div>
    </section>
</div>

<div class="sidebar-box sidebar-developers-list clearfix">
    <hgroup>
        <h2>Newest developers</h2>
    </hgroup>

    <section>
        <ul>
            {% for developer in developers %}
            <li>
                <a href="{{ path('developer_show', {'name': developer.name}) }}">
                    <img src="{{ developer.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=40') }}" alt="{{ developer.name }}" title="{{ developer.name }}" width="40" height="40">
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

<div class="sidebar-box sidebar-recent clearfix">
    <hgroup>
        <h2>Latest activities</h2>
    </hgroup>

    <section>
        <ul>
            {% for activity in activities %}
                <li>
                    <img src="{{ activity.developer is empty ? 'http://www.gravatar.com/avatar/?d=identicon&f=y&s=30' : activity.developer.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=30') }}" alt="{{ activity.author }}" title="{{ activity.author }}" width="30" height="30">
                    <span>
                        {%- if not activity.developer is empty %}
                            <a href="{{ path('developer_show', {'name': activity.author }) }}">{{ activity.author }}</a>
                        {%- else -%}
                            <strong>{{ activity.author }}</strong>
                        {%- endif %}
                        {{ bundle_activity_msg(activity, 'short') }} <a href="{{ path('bundle_show', {'ownerName': activity.bundleOwnerName, 'name': activity.bundleName}) }}">{{ activity.bundleName }}</a> <strong>{{ time_diff(activity.createdAt) }}</strong>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
