{% for bundle in bundles %}
<article class="bundle{% if bundle.lastTweetedAt|default(null) %} award{% endif %}">
    <div class="bundle-score">
        <h3>{{ bundle.totalScore }}</h3>
    </div>

    <div class="bundle-info">
        <h2>
            <a href="{{ path('bundle_show', {'ownerName': bundle.ownerName, 'name': bundle.name}) }}" class="name">{{ bundle.name }}</a>
            {% if bundle.state != 'unknown' %}<abbr title="{{ bundle.state|bundle_state_tooltip }}">({{ bundle.state }})</abbr>{% endif %}
        </h2>

        <p>{{ bundle.description|slice(0, 140)|default('No description found.') }}</p>

        <ul>
            <li class="bundle-author">
                {% trans %}bundles.list.by{% endtrans %}
                <a href="{{ path(bundle.ownerType == 'organization' ? 'organization_show' : 'developer_show', {'name': bundle.ownerName }) }}">{{ bundle.ownerName }}</a>
            </li>
            <li class="bundle-activity">
                {% trans %}bundles.list.activity{% endtrans %}
                <abbr title="{% trans %}bundles.list.lastCommit{% endtrans %}{{ time_diff(bundle.lastCommitAt) }}" class="{{ bundle.lastCommitAt|bundle_activity|trans|lower }}">{{ bundle.lastCommitAt|bundle_activity|trans }}</abbr>
            </li>
        </ul>
    </div>

    <figure>
        <a href="{{ path('bundle_show', {'ownerName': bundle.ownerName, 'name': bundle.name}) }}">
            <img src="{{ bundle.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=50') }}" alt="{{ bundle.name }} developer" width="50" height="50" />
        </a>
    </figure>
</article>
{% endfor %}
