{% extends 'KnpBundlesBundle::layout/900px.html.twig' %}

{% block title %}{% trans with {'%name%': bundle.name, '%ownerName%': bundle.ownerName} %}bundles.show.meta.title{% endtrans %}{% endblock %}
{% block description %}{{ bundle.description }}{% endblock %}
{% block meta %}
<meta name="twitter:site" content="@KnpLabs">
<meta name="twitter:title" content="{{ bundle.name }} by {{ bundle.ownerName }}">
<meta name="twitter:url" content="{{ url('bundle_show', {'ownerName': bundle.ownerName, 'name': bundle.name}) }}">
<meta name="twitter:description" content="{{ bundle.description }}">
{% endblock %}

{% set isOwnerOrContributor = app.user is not null and bundle.isOwnerOrContributor(app.user) %}

{% block intro %}
<div id="intro" class="bundle-details">
    {%- if isOwnerOrContributor -%}
    <span class="btn pull-right" data-toggle="modal" data-target="#modal-settings"><i class="icon-wrench"></i>{% trans %}bundles.show.setting{% endtrans %}</span>
    {%- endif -%}

    <div class="score{% if bundle.lastTweetedAt %} award{% endif %}">
        {{ bundle.score }}
    </div>

    <h1>{{ bundle.name }}</h1>
    <h2>{% trans %}bundles.list.by{% endtrans %} <a href="{{ path(bundle.ownerType == 'organization' ? 'organization_show' : 'developer_show', {'name': bundle.ownerName}) }}">{{ bundle.ownerName }}</a></h2>

    <p class="description">{{ bundle.description|truncate(150, true) }}</p>
</div>
{% endblock %}

{% block promo -%}
<div id="header-right">
    {{ parent() }}

    <div id="bundle-actions">
        <a class="btn btn-large" href="{{ bundle.gitHubUrl }}" style="width:228px">{% trans %}bundles.show.github{% endtrans %}</a>
    </div>
</div>
{%- endblock %}

{% block symfony_versions %}
{% spaceless %}
<table class='versions-table'>
    <thead>
    <tr>
        <th>Bundle</th><th>Symfony</th>
    </tr>
    </thead>
    <tbody>
    {% for key, version in bundle.symfonyVersions %}
    <tr>
        <td>{{ key }}</td><td>{{ version ? version : "bundles.show.infos.unknown"|trans }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endspaceless %}
{% endblock %}

{% macro badge(bundle, badgeRoute) %}
<strong>Html</strong>
<textarea class="badge-code" rows="6">
<a href="{{ url('bundle_show', {'ownerName': bundle.ownerName, 'name': bundle.name}) }}"><img src="{{ url(badgeRoute, {'ownerName': bundle.ownerName, 'name': bundle.name}) }}"></a>
</textarea>
<strong>Markdown</strong>
<textarea class="badge-code" rows="6">
{{ '[![knpbundles.com](' ~ url(badgeRoute, {'ownerName': bundle.ownerName, 'name': bundle.name}) ~ ')](' ~ url('bundle_show', {'ownerName': bundle.ownerName, 'name': bundle.name}) ~ ')' }}
</textarea>
{% endmacro %}

{% macro dependency(dependencies, title) %}
<h3>{{ title|trans }}</h3>
{% if dependencies is not empty %}
<ul>
    {% for dependencyTitle, dependencyVersion in dependencies %}
        <li>{{ dependencyTitle ~ ': ' ~ dependencyVersion }}</li>
    {% endfor %}
</ul>
{% else %}
    {% trans %}bundles.show.dependency.none{% endtrans %}
{% endif %}
{% endmacro %}

{% block right %}
    <div class="sidebar-box sidebar-bundle-info">
        <hgroup>
            <h2>{% trans %}bundles.show.infos.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <ul>
                {% if bundle.state != 'unknown' -%}
                <li>
                    <i class="icon-{{ bundle.state == 'ready' ? 'ok' : 'cancel' }}"></i><strong>{% trans %}bundles.show.infos.state{% endtrans %}</strong>
                    <abbr title="{{ bundle.state|bundle_state_tooltip }}">{{ bundle.state }}</abbr>
                </li>
                {%- endif %}
                {% if (not bundle.license is empty) or (not bundle.licenseType is empty) -%}
                <li>
                    <i class="icon-bag"></i><strong>License:</strong>
                    {% if not bundle.license is empty -%}
                    <a href="#license" data-toggle="license" class="bundle-license-{{ bundle.licenseType is empty ? 'unknown' : 'detected' }}">{{ bundle.licenseType|default('details') }}</a>
                    {%- elseif not bundle.licenseType is empty -%}
                    <strong class="bundle-license">{{ bundle.licenseType }}</strong>
                    {%- endif -%}
                {%- endif %}
                <li><i class="icon-chart"></i><strong>{% trans %}bundles.show.infos.score{% endtrans %}</strong> <a href="#score-details" data-toggle="tab">{{ bundle.score }}</a></li>
                {%- if bundle.symfonyVersions|length > 0 -%}
                <li><i class="icon-symfony"></i><strong class="symfony-versions" data-placement="bottom" data-html="true" data-content="{{ block('symfony_versions') }}" data-title="{% trans %}bundles.show.infos.symfonyVersion{% endtrans %}:">{% trans %}bundles.show.infos.symfonyVersion{% endtrans %}</strong></li>
                {%- endif -%}
                <li><i class="icon-calendar"></i><strong>{% trans %}bundles.show.infos.updated{% endtrans %}</strong> {{ bundle.lastCheckAt|default(bundle.updatedAt)|date('date_format'|trans) }}</li>
                <li><i class="icon-developers"></i><strong>{% trans %}bundles.show.infos.contributors{% endtrans %}</strong> {{ bundle.nbContributors }}</li>
                <li><i class="icon-eye"></i><strong>{% trans %}bundles.show.infos.watchers{% endtrans %}</strong> {{ bundle.nbFollowers }}</li>
                <li><i class="icon-thumbs-up"></i><strong>{% trans %}bundles.show.infos.recommends{% endtrans %}</strong> {{ bundle.nbRecommenders }}</li>
                <li title="{% trans %}bundles.show.infos.github{% endtrans %}">
                    <i class="icon-github"></i><a href="{{ bundle.githubUrl }}" title="{{ bundle.fullName }}">{{ bundle.fullName|truncate(30) }}</a>
                </li>
                {%- if bundle.composerName -%}
                <li title="{% trans %}bundles.show.infos.composer{% endtrans %}">
                    <i class="icon-box"></i><a href="{{ bundle.packagistUrl }}" title="{{ bundle.composerName }}">{{ bundle.composerName|truncate(30) }}</a>
                </li>
                {%- endif -%}
                {%- if bundle.usesTravisCi %}
                <li title="{% trans %}bundles.show.infos.travis{% endtrans %}">
                    <i class="icon-cogs"></i>
                    <a href="{{ bundle.travisUrl }}">
                        <img src="https://secure.travis-ci.org/{{ bundle.ownerName }}/{{ bundle.name }}.png" alt="Travis Build Status" width="89" height="13"/>
                    </a>
                </li>
                {%- endif -%}
            </ul>
        </section>
    </div>

    {%- if bundle.keywords|length > 0 %}
    <div class="sidebar-box sidebar-keywords">
        <hgroup>
            <h2>{% trans %}bundles.show.keywords.title{% endtrans %}</h2>
        </hgroup>

        <section>
        {% for keyword in bundle.keywords %}
            <a href="{{ path('bundle_keyword', {'slug': keyword.slug}) }}" title="{{ keyword.value }}">{{ keyword.value }}</a>{{ loop.last ? '' : ',' }}
        {% endfor %}
        </section>
    </div>
    {%- endif %}

    <div class="sidebar-box sidebar-developers-list clearfix">
        <hgroup>
            <h2>{% trans %}bundles.show.recommenders.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <ul>
                <li>
                    {% for developer in bundle.recommenders(1, 19) %}
                    <a href="{{ path('developer_show', {'name': developer.name}) }}">
                        <img src="{{ developer.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=40') }}" alt="{{ developer.name }}" title="{{ developer.name }}" width="40" height="40">
                    </a>
                    {% endfor %}
                </li>
                {% if bundle.nbRecommenders > 19 %}
                <li><span class="box-more-developers"><abbr class="icon-info" title="And {{ bundle.nbRecommenders - 19 }} other recommendations!"></span></li>
                {%- endif %}
                <li>
                    <a class="btn btn-recommend" href="{{ path('bundle_change_usage_status', { 'ownerName': bundle.ownerName, 'name': bundle.name }) }}">
                        {%- if app.user is not null -%}
                            {%- if isUsedByDeveloper -%}
                                {% trans %}bundles.show.recommenders.iDontRecommend{% endtrans %}
                            {%- else -%}
                                {% trans %}bundles.show.recommenders.iRecommend{% endtrans %}
                            {%- endif -%}
                        {%- else -%}
                            {% trans %}bundles.show.recommenders.loginToRecommend{% endtrans %}
                        {%- endif -%}
                    </a>
                </li>
            </ul>
        </section>
    </div>

    {% if bundle.scores|length > 1 %}
    <div class="sidebar-box tabbable tabs-below">
        <hgroup>
            <h2>{{ 'bundles.show.chart.title'|trans }}</h2>
        </hgroup>

        <div class="tab-content">
            <div class="tab-pane active chart" id="graph">
                {% include 'KnpBundlesBundle::layout/chart.html.twig' with {'simple': true, 'tooltipText': 'points'} %}
            </div>

            <div class="tab-pane" id="score-details">
                <ul>
                {% if bundle.scoreDetails %}
                    <li><i class="icon-eye"></i>{% trans %}bundles.score.followers{% endtrans %} <strong>{{ score_details.followers }}</strong></li>
                    <li><i class="icon-back-in-time"></i>{% trans %}bundles.score.activity{% endtrans %} <strong>{{ score_details.activity }}</strong></li>
                    <li><i class="icon-info"></i>{% trans %}bundles.score.readme{% endtrans %} <strong>{{ score_details.readme }}</strong></li>
                    <li><i class="icon-cogs"></i>{% trans %}bundles.score.travisci{% endtrans %} <strong>{{ score_details.travisci }}</strong></li>
                    <li><i class="icon-cogs"></i>{% trans %}bundles.score.travisbuild{% endtrans %} <strong>{{ score_details.travisbuild }}</strong></li>
                    <li><i class="icon-box"></i>{% trans %}bundles.score.composer{% endtrans %} <strong>{{ score_details.composer }}</strong></li>
                    <li><i class="icon-thumbs-up"></i>{% trans %}bundles.score.recommenders{% endtrans %} <strong>{{ score_details.recommenders }}</strong></li>
                {% else %}
                    <li>This bundle don't have any score details.</li>
                {% endif %}
                </ul>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#graph" data-toggle="tab">Graph</a></li>
            <li><a href="#score-details" data-toggle="tab">Details</a></li>
        </ul>
    </div>
    {% endif %}

    <div class="sidebar-box sidebar-developers-list clearfix">
        <hgroup>
            <h2>{% trans %}bundles.show.contributors.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <ul>
                <li class="contributor">
                    <a href="{{ path(bundle.ownerType == 'organization' ? 'organization_show' : 'developer_show', {'name': bundle.ownerName}) }}">
                        <img src="{{ bundle.owner.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=40') }}" alt="{{ bundle.ownerName }}" title="{{ bundle.ownerName }}" width="40" height="40">
                    </a>
                </li>

                {%- if bundle.nbContributors != 0 %}
                {%- for contributor in bundle.contributors(1, 18) %}
                <li class="contributor">
                    <a href="{{ path('developer_show', {'name': contributor.name}) }}">
                        <img src="{{ contributor.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y') }}" alt="{{ contributor.name }}" title="{{ contributor.name }}" width="40" height="40">
                    </a>
                </li>
                {%- endfor %}
                {% if bundle.nbContributors > 18 %}
                <li><span class="box-more-developers"><abbr class="icon-info" title="And {{ bundle.nbContributors - 18 }} other contributors!"></span></li>
                {%- endif %}
                {%- endif %}
            </ul>
        </section>
    </div>

    <div class="sidebar-box sidebar-badge clearfix">
        <hgroup>
            <h2>{% trans %}bundles.show.badge.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <div class="badge" data-placement="left" data-content='{{ _self.badge(bundle, "bundle_get_badge") }}' data-title="{% trans %}bundles.show.badge.embed{% endtrans %}:">
                <img src="{{ path('bundle_get_badge', {'ownerName': bundle.ownerName, 'name': bundle.name }) }}" title="{% trans %}bundles.show.badge.click_for_embed{% endtrans %}">
            </div>
            <div class="badge" data-placement="left" data-content='{{ _self.badge(bundle, "bundle_get_badge_short") }}' data-title="{% trans %}bundles.show.badge.embed{% endtrans %}:">
                <img src="{{ path('bundle_get_badge_short', {'ownerName': bundle.ownerName, 'name': bundle.name }) }}" title="{% trans %}bundles.show.badge.click_for_embed{% endtrans %}">
            </div>
        </section>
    </div>
{% endblock %}

{% block left %}
<div class="content-box tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#readme" data-toggle="tab" data-target="#readme"><i class="icon-info"></i>README</a></li>
        {%- if bundle.license is not empty -%}
        <li><a href="#license" data-toggle="tab" data-target="#license"><i class="icon-bag"></i>LICENSE</a></li>
        {%- endif %}
        {%- if bundle.canonicalConfig is not empty -%}
        <li><a href="#configuration" data-toggle="tab" data-target="#configuration"><i class="icon-wrench"></i>Configuration</a></li>
        {%- endif %}
        <li><a href="#activity" data-toggle="tab" data-target="#activity"><i class="icon-clock"></i>Activity</a></li>
        {% if bundle.versionsHistory.dependencies is defined %}
        <li><a href="#dependencies" data-toggle="tab" data-target="#dependencies"><i class="icon-cogs"></i>Dependencies</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div id="readme" class="tab-pane active markdown">
            {% if bundle.readme is not empty %}
                {{ bundle.readme|markdown }}
            {% else %}
                No readme file found in bundle.
            {% endif %}
        </div>

        {% if bundle.license is not empty %}
        <div id="license" class="tab-pane markdown">
            {{ bundle.license|nl2br }}
        </div>
        {% endif %}

        {%- if bundle.canonicalConfig is not empty -%}
        <div id="configuration" class="tab-pane markdown">
            <pre class="code">
            {{- bundle.canonicalConfig|nl2br -}}
            </pre>
        </div>
        {%- endif -%}

        <div id="activity" class="tab-pane">
            <ul>
                {%- for activity in bundle.latestActivities() %}
                <li>
                    {{ bundle_activity_icon(activity.type) }}
                    {{ bundle_activity_msg(activity) }}
                    <div class="infos">{% trans %}bundles.show.latest_commits.by{% endtrans %}
                        {% if not activity.developer is empty %}
                        <a href="{{ path('developer_show', {'name': activity.author }) }}">{{ activity.author }}</a>
                        {%- else -%}
                        <strong>{{ activity.author }}</strong>
                        {%- endif %},
                        <strong>{{ time_diff(activity.createdAt) }}</strong>
                    </div>
                </li>
                {%- endfor %}
            </ul>
        </div>

        {% if bundle.versionsHistory.dependencies is defined %}
        <div id="dependencies" class="tab-pane markdown">
            {% for versionTitle, version in bundle.versionsHistory.dependencies %}
                <h2 class="version">{{ versionTitle }}
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#{{ loop.index }}" class="pull-right">
                        <i class="icon-list"></i></a>
                </h2>
                <div class="shift-right collapse in" id="{{ loop.index }}">
                    {% if versionTitle == 'dev-master' %}
                        {% set versionTitle = version.extra['branch-alias']['dev-master'] %}
                    {% endif %}
                    <h3>{% trans %}bundles.show.dependency.composer{% endtrans %}</h3>
                    <pre class="code">require: "{{ version.name }}": "{{ versionTitle }}"</pre>
                    {% for dependencyTitle, dependencies in version %}
                        {% if dependencyTitle not in ['name', 'extra'] %}
                            {{ _self.dependency(dependencies, 'bundles.show.dependency.' ~ dependencyTitle) }}
                        {% endif %}
                    {% endfor %}    
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{%- if isOwnerOrContributor -%}
<form class="modal hide" action="{{ path('bundle_settings', {'id': bundle.id}) }}" method="post" id="modal-settings">
    <div class="modal-header">
        <a class="pull-right close" href="#" data-dismiss="modal">×</a>
        <h3>{% trans %}bundles.show.settings.modal{% endtrans %}</h3>
    </div>

    <div class="modal-body">
        <div class="pull-right">
            <h5>Bundle state:</h5>
            <ul>
                <li>
                    <label>
                        <input type="radio" name="state" id="state0" value="unknown"{{ bundle.state == 'unknown' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.unknown{% endtrans %}</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="state" id="state1" value="not yet ready"{{ bundle.state == 'not yet ready' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.not_ready{% endtrans %}</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="state" id="state2" value="ready"{{ bundle.state == 'ready' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.ready{% endtrans %}</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="state" id="state3" value="deprecated"{{ bundle.state == 'deprecated' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.deprecated{% endtrans %}</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="pull-left">
            <h5>License:</h5>
            <ul>
                <li>
                    <label>
                        <input type="radio" name="license" id="license0" value=""{{ bundle.licenseType is empty ? ' checked="checked"' : '' }}>
                        <span>Not listed below</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="license" id="license1" value="BSD"{{ bundle.licenseType == 'BSD' ? ' checked="checked"' : '' }}>
                        <span>BSD</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="license" id="license2" value="New BSD"{{ bundle.licenseType == 'New BSD' ? ' checked="checked"' : '' }}>
                        <span>New BSD</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="license" id="license3" value="MIT"{{ bundle.licenseType == 'MIT' ? ' checked="checked"' : '' }}>
                        <span>MIT</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="license" id="license4" value="GPL"{{ bundle.licenseType == 'GPL' ? ' checked="checked"' : '' }}>
                        <span>GPL</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <button class="button">{% trans %}bundles.show.setting{% endtrans %}</button>
    </div>
</form>
{%- endif -%}
{% endblock %}
