{% extends 'KnpBundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="bundle-show"{% endblock %}

{% block title %}{% trans with {'%name%': bundle.name, '%username%': bundle.username} %}bundles.show.meta.title{% endtrans %}{% endblock %}
{% block description %}{{ bundle.description }}{% endblock %}

{% set isOwnerOrContributor = app.user is not null and bundle.isOwnerOrContributor(app.user) %}

{% block content %}
    <div class="col-right">

        <div class="box">
            <h3>{% trans %}bundles.show.infos.title{% endtrans %}</h3>
            <ul>
                {%- if bundle.state != 'unknown' -%}
                <li>{% trans %}bundles.show.infos.state{% endtrans %} <span class="state {{ bundle.state|replace({' ': '-'}) }}">{{ bundle.state }}</span></li>
                {%- endif -%}
                <li>{% trans %}bundles.show.infos.score{% endtrans %} <span><a href="#bundle-score-details">{{ bundle.score }}</a></span></li>
                <li>{% trans %}bundles.show.infos.symfonyVersion{% endtrans %} {{ bundle.symfonyVersion ? bundle.symfonyVersion : "bundles.show.infos.unknown" | trans }}</li>
                <li>{% trans %}bundles.show.infos.created{% endtrans %} <span>{{ bundle.createdAt|date('date_format'|trans) }}</span></li>
                <li>{% trans %}bundles.show.infos.contributors{% endtrans %} <span>{{ bundle.nbContributors }}</span></li>
                <li>{% trans %}bundles.show.infos.followers{% endtrans %} <span>{{ bundle.nbFollowers }}</span></li>
                <li class="info-github" title="{% trans %}bundles.show.infos.github{% endtrans %}">
                    <a href="{{ bundle.githubUrl }}">{{ bundle.fullName }}</a>
                </li>
                {% if bundle.composerName %}
                <li class="info-composer" title="{% trans %}bundles.show.infos.composer{% endtrans %}">
                    <a href="{{ bundle.packagistUrl }}">{{ bundle.composerName }}</a>
                </li>
                {% endif %}
                {% if bundle.usesTravisCi %}
                <li class="info-travis" title="{% trans %}bundles.show.infos.travis{% endtrans %}">
                    <a href="{{ bundle.travisUrl }}">
                        <img src="https://secure.travis-ci.org/{{ bundle.username }}/{{ bundle.name }}.png" alt="" />
                    </a>
                 </li>
                {% endif %}
            </ul>
        </div>

        <div class="box">
            <h3>{% trans %}bundles.show.keywords.title{% endtrans %}</h3>
                {% for keyword in bundle.keywords %}
                    <a href="{{ path('bundle_keyword', {'slug': keyword.slug}) }}" title="{{ keyword.value }}">{{ keyword.value }}</a>
                {% else %}
                    {% trans %}bundles.show.keywords.empty{% endtrans %}
                {% endfor %}
        </div>

        <div class="box">
            <h3>{% trans %}bundles.show.recommenders.title{% endtrans %}</h3>
            <ul>
                <li class="bundle-recommenders">
                    {% for user in bundle.recommenders %}
                        <img src="{{ gravatar_hash(user.gravatarHash, 25, none, 'identicon')}}" class="tooltip" title="{{ user.name }}" />
                    {% endfor %}
                </li>
                <li>
                    <a class="button i-recommend" href="{{ path('bundle_change_usage_status', { 'username': bundle.username, 'name': bundle.name }) }}">
                        {% if app.user is not null %}
                            {% if isUsedByUser  %}
                                {% trans %}bundles.show.recommenders.iDontRecommend{% endtrans %}
                            {% else %}
                                {% trans %}bundles.show.recommenders.iRecommend{% endtrans %}
                            {% endif %}
                        {% else %}
                            {% trans %}bundles.show.recommenders.loginToRecommend{% endtrans %}
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>

        {% if bundle.scores|length > 1 %}
        {% set chartDimensions = [280, 200] %}
        <div class="box no-padding">
            <h3>{{ 'bundles.show.chart.title'|trans }}</h3>
            <div id="chart" class="chart" style="width:{{ chartDimensions.0 }}px;height:{{ chartDimensions.1 }}px;"></div>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
              google.load("visualization", "1", {packages:["corechart"]});
              google.setOnLoadCallback(drawChart);
              function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'Score');
                data.addRows({{ bundle.scores|length }});
                {% for score in bundle.scores -%}
                data.setValue({{ loop.index0 }}, 0, '{{ score.date.format('Y-m-d') }}');
                data.setValue({{ loop.index0 }}, 1, {{ score.value }});
                {% endfor %}

                var chart = new google.visualization.LineChart(document.getElementById('chart'));
                chart.draw(data, {
                    width: {{ chartDimensions.0 }},
                    height: {{ chartDimensions.1 }},
                    legend: 'none',
                    backgroundColor: '#FAFAFA',
                    colors: ['#4183C4'],
                    hAxis: {
                        textPosition: 'none'
                    }
                });
              }
            </script>
        </div>
        {% endif %}

        {% if bundle.scoreDetails %}
        <div class="box">
            <h3 id="bundle-score-details">{% trans %}bundles.show.score.title{% endtrans %} ( <a href="{{ path('scoring') }}">{% trans %}bundles.show.score.about{% endtrans %}</a> )</h3>
            <ul class="bundle-score-details">
                <li>{% trans with {'%score%': score_details.followers } %}bundles.score.followers{% endtrans %}</li>
                <li>{% trans with {'%score%': score_details.activity } %}bundles.score.activity{% endtrans %}</li>
                <li>{% trans with {'%score%': score_details.readme } %}bundles.score.readme{% endtrans %}</li>
                <li>{% trans with {'%score%': score_details.travisci } %}bundles.score.travisci{% endtrans %}</li>
                <li>{% trans with {'%score%': score_details.travisbuild } %}bundles.score.travisbuild{% endtrans %}</li>
                <li>{% trans with {'%score%': score_details.composer } %}bundles.score.composer{% endtrans %}</li>
                <li>{% trans with {'%score%': score_details.recommenders } %}bundles.score.recommenders{% endtrans %}</li>

            </ul>
        </div>
        {% endif %}

        <div class="box">
            <h3>{% trans %}bundles.show.contributors.title{% endtrans %}</h3>
            <ul class="user-list hide-contributors">
                <li class="user">
                    {% trans %}bundles.show.contributors.by{% endtrans %} <a href="{{ path('user_show', {'name': bundle.username}) }}">{{ bundle.username }}</a>
                </li>

                {%- if bundle.nbContributors != 0 %}
                    <li class="contributor-others-switch">{% trans %}bundles.show.contributors.and{% endtrans %} <a href="#">{% trans %}bundles.show.contributors.contributors{% endtrans %}</a></li>
                    {%- for contributor in bundle.contributors %}
                        <li class="contributor"><a href="{{ path('user_show', {'name': contributor}) }}">{{ contributor }}</a>
                    {%- endfor %}
                {%- endif %}
            </ul>
        </div>

        <div class="box">
            <h3>{% trans %}bundles.show.latest_commits.title{% endtrans %}</h3>
            <ul>
            {%- for commit in bundle.lastCommits %}
                <li>{{ commit.message_first_line }}<div class="infos">{% trans %}bundles.show.latest_commits.by{% endtrans %} <a href="{{ path('user_show', {'name': commit.author.login }) }}">{{ commit.author.login }}</a> {{ time_diff(commit.committed_date) }}</div></li>
            {%- endfor %}
            <ul>
        </div>
    </div>

    <div id="main">
        <div id="bundle-title">
            <div class="bundlerank">
                {{ bundle.score }}
            </div>
            <h1>
                {{ bundle.name }}
                <span class="username">{% trans %}bundles.list.by{% endtrans %} <a href="{{ path('user_show', {'name': bundle.username}) }}">{{ bundle.username }}</a></span>
            </h1>
            {% set noDescriptionNotice = 'bundle.noDescription'|trans %}
            <p class="description">{{ bundle.description }}</p>
        </div>

        <div class="actions">
            <a class="button github" href="{{ bundle.gitHubUrl }}">{% trans %}bundles.show.github{% endtrans %}</a>
            <a class="button github" href="{{ bundle.gitHubUrl }}/issues">{% trans %}bundles.show.issues{% endtrans %}</a>
            {%- if isOwnerOrContributor -%}
            &nbsp;<span class="button github" data-controls-modal="modal-settings">{% trans %}bundles.show.setting{% endtrans %}</span>
            {%- endif -%}
        </div>
    </div>

    {% if not bundle.initialized %}
    <div class="data">
        {{ noDescriptionNotice|trans }}
    </div>
    {% endif %}

    {% if bundle.readme %}
    <div class="data">
        <div id="readme">
            <div class="markdown">
                {{ bundle.readme|github_md_2_md|markdown }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if bundle.license %}
    <div class="data">
        {{ bundle.license }}
    </div>
    {% endif %}

    {{ knp_disqus_render('s2b', {'identifier': bundle.username~'_'~bundle.name, 'url': url('bundle_show', {'username':bundle.username, 'name':bundle.name}), 'limit': 100}) }}

    {%- if isOwnerOrContributor -%}
    <form class="modal" action="{{ path('bundle_settings', {'id': bundle.id}) }}" method="post" id="modal-settings" style="display: none;width:400px">
        <div class="modal-header">
            <a class="close" href="#">×</a>
            <h3>{% trans %}bundles.show.settings.modal{% endtrans %}</h3>
        </div>

        <div class="modal-body">
            <ul style="margin: 0 auto; width: 125px;">
                <li>
                    <label>
                        <input type="radio" name="state" id="state0" value="unknown"{{ bundle.state == 'unknown' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.unknown{% endtrans %}</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="state" id="state1" value="not yet ready"{{ bundle.state == 'not yet ready' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.not_ready{% endtrans %}</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="state" id="state2" value="ready"{{ bundle.state == 'ready' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.ready{% endtrans %}</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="state" id="state3" value="deprecated"{{ bundle.state == 'deprecated' ? ' checked="checked"' : '' }}>
                        <span>{% trans %}bundles.show.settings.state.deprecated{% endtrans %}</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <button class="button">{% trans %}bundles.show.setting{% endtrans %}</button>
        </div>
    </form>
    {%- endif -%}
{% endblock %}
