{% extends 'KnpBundlesBundle::layout/900px.html.twig' %}

{% block title %}{% trans with {'%name%': bundle.name, '%ownerName%': bundle.ownerName} %}bundles.show.meta.title{% endtrans %}{% endblock %}
{% block description %}{{ bundle.description }}{% endblock %}

{% set isOwnerOrContributor = app.user is not null and bundle.isOwnerOrContributor(app.user) %}

{% block intro %}
<div id="intro" class="bundle-details">
    {%- if isOwnerOrContributor -%}
    <span class="btn pull-right" data-toggle="modal" data-target="#modal-settings"><i class="icon-wrench"></i>{% trans %}bundles.show.setting{% endtrans %}</span>
    {%- endif -%}

    <div class="score{% if bundle.lastTweetedAt %} award{% endif %}">
        {{ bundle.score }}
    </div>

    <h1>{{ bundle.name }}</h1>
    <h2>{% trans %}bundles.list.by{% endtrans %} <a href="{{ path(bundle.ownerType == 'organization' ? 'organization_show' : 'developer_show', {'name': bundle.ownerName}) }}">{{ bundle.ownerName }}</a></h2>

    <p class="description">{{ bundle.description|slice(0, 150) }}</p>
</div>
{% endblock %}

{% block promo -%}
<div id="header-right">
    {{ parent() }}

    <div id="bundle-actions">
        <a class="btn btn-large" href="{{ bundle.gitHubUrl }}" style="width:228px">{% trans %}bundles.show.github{% endtrans %}</a>
    </div>
</div>
{%- endblock %}

{% block symfony_versions %}
{% spaceless %}
<table class='versions-table'>
    <thead>
    <tr>
        <th>Bundle</th><th>Symfony</th>
    </tr>
    </thead>
    <tbody>
    {% for key, version in bundle.symfonyVersions %}
    <tr>
        <td>{{ key }}</td><td>{{ version ? version : "bundles.show.infos.unknown"|trans }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endspaceless %}
{% endblock %}

{% block right %}
    <div class="sidebar-box sidebar-bundle-info">
        <hgroup>
            <h2>{% trans %}bundles.show.infos.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <ul>
                {%- if bundle.state != 'unknown' -%}
                <li>
                    <i class="icon-{{ bundle.state == 'ready' ? 'ok' : 'cancel' }}"></i><strong>{% trans %}bundles.show.infos.state{% endtrans %}</strong>
                    <abbr title="{{ bundle.state|bundle_state_tooltip }}">{{ bundle.state }}</abbr>
                </li>
                {%- endif -%}
                <li><i class="icon-chart"></i><strong>{% trans %}bundles.show.infos.score{% endtrans %}</strong> <a href="#score-details" data-toggle="tab">{{ bundle.score }}</a></li>
                {%- if bundle.symfonyVersions|length > 0 -%}
                <li><i class="icon-symfony"></i><strong class="symfony-versions" data-placement="bottom" data-content="{{ block('symfony_versions') }}" data-title="{% trans %}bundles.show.infos.symfonyVersion{% endtrans %}:">{% trans %}bundles.show.infos.symfonyVersion{% endtrans %}</strong></li>
                {%- endif -%}
                <li><i class="icon-calendar"></i><strong>{% trans %}bundles.show.infos.updated{% endtrans %}</strong> {{ bundle.lastCheckAt|default(bundle.createdAt)|date('date_format'|trans) }}</li>
                <li><i class="icon-developers"></i><strong>{% trans %}bundles.show.infos.contributors{% endtrans %}</strong> {{ bundle.nbContributors }}</li>
                <li><i class="icon-eye"></i><strong>{% trans %}bundles.show.infos.watchers{% endtrans %}</strong> {{ bundle.nbFollowers }}</li>
                <li><i class="icon-thumbs-up"></i><strong>{% trans %}bundles.show.infos.recommends{% endtrans %}</strong> {{ bundle.nbRecommenders }}</li>
                <li title="{% trans %}bundles.show.infos.github{% endtrans %}">
                    <i class="icon-github"></i><a href="{{ bundle.githubUrl }}">{{ bundle.fullName }}</a>
                </li>
                {%- if bundle.composerName -%}
                <li title="{% trans %}bundles.show.infos.composer{% endtrans %}">
                    <i class="icon-box"></i><a href="{{ bundle.packagistUrl }}">{{ bundle.composerName }}</a>
                </li>
                {%- endif -%}
                {%- if bundle.usesTravisCi %}
                <li title="{% trans %}bundles.show.infos.travis{% endtrans %}">
                    <i class="icon-cogs"></i>
                    <a href="{{ bundle.travisUrl }}">
                        <img src="https://secure.travis-ci.org/{{ bundle.ownerName }}/{{ bundle.name }}.png" alt="Travis Build Status" width="89" height="13"/>
                    </a>
                </li>
                {%- endif -%}
            </ul>
        </section>
    </div>

    {%- if bundle.keywords|length > 0 %}
    <div class="sidebar-box sidebar-keywords">
        <hgroup>
            <h2>{% trans %}bundles.show.keywords.title{% endtrans %}</h2>
        </hgroup>

        <section>
        {% for keyword in bundle.keywords %}
            <a href="{{ path('bundle_keyword', {'slug': keyword.slug}) }}" title="{{ keyword.value }}">{{ keyword.value }}</a>{{ loop.last ? '' : ',' }}
        {% endfor %}
        </section>
    </div>
    {%- endif %}

    <div class="sidebar-box sidebar-developers-list clearfix">
        <hgroup>
            <h2>{% trans %}bundles.show.recommenders.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <ul>
                <li>
                    {% for developer in bundle.recommenders(1, 19) %}
                    <a href="{{ path('developer_show', {'name': developer.name}) }}">
                        <img src="{{ developer.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=40') }}" alt="{{ developer.name }}" title="{{ developer.name }}" width="40" height="40">
                    </a>
                    {% endfor %}
                </li>
                {% if bundle.nbRecommenders > 19 %}
                <li><span class="box-more-developers"><abbr class="icon-info" title="And {{ bundle.nbRecommenders - 19 }} other recommendations!"></span></li>
                {%- endif %}
                <li>
                    <a class="btn btn-recommend" href="{{ path('bundle_change_usage_status', { 'ownerName': bundle.ownerName, 'name': bundle.name }) }}">
                        {%- if app.user is not null -%}
                            {%- if isUsedByDeveloper -%}
                                {% trans %}bundles.show.recommenders.iDontRecommend{% endtrans %}
                            {%- else -%}
                                {% trans %}bundles.show.recommenders.iRecommend{% endtrans %}
                            {%- endif -%}
                        {%- else -%}
                            {% trans %}bundles.show.recommenders.loginToRecommend{% endtrans %}
                        {%- endif -%}
                    </a>
                </li>
            </ul>
        </section>
    </div>

    {% if bundle.scores|length > 1 %}
    <div class="sidebar-box tabbable tabs-below">
        <hgroup>
            <h2>{{ 'bundles.show.chart.title'|trans }}</h2>
        </hgroup>

        <div class="tab-content">
            <div class="tab-pane active chart" id="graph">
                {% include 'KnpBundlesBundle::layout/chart.html.twig' with {'simple': true, 'tooltipText': 'points'} %}
            </div>

            <div class="tab-pane" id="score-details">
                <ul>
                {% if bundle.scoreDetails %}
                    <li><i class="icon-eye"></i>{% trans %}bundles.score.followers{% endtrans %} <strong>{{ score_details.followers }}</strong></li>
                    <li><i class="icon-back-in-time"></i>{% trans %}bundles.score.activity{% endtrans %} <strong>{{ score_details.activity }}</strong></li>
                    <li><i class="icon-info"></i>{% trans %}bundles.score.readme{% endtrans %} <strong>{{ score_details.readme }}</strong></li>
                    <li><i class="icon-cogs"></i>{% trans %}bundles.score.travisci{% endtrans %} <strong>{{ score_details.travisci }}</strong></li>
                    <li><i class="icon-cogs"></i>{% trans %}bundles.score.travisbuild{% endtrans %} <strong>{{ score_details.travisbuild }}</strong></li>
                    <li><i class="icon-box"></i>{% trans %}bundles.score.composer{% endtrans %} <strong>{{ score_details.composer }}</strong></li>
                    <li><i class="icon-thumbs-up"></i>{% trans %}bundles.score.recommenders{% endtrans %} <strong>{{ score_details.recommenders }}</strong></li>
                {% else %}
                    <li>This bundle don't have any score details.</li>
                {% endif %}
                </ul>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#graph" data-toggle="tab">Graph</a></li>
            <li><a href="#score-details" data-toggle="tab">Details</a></li>
        </ul>
    </div>
    {% endif %}

    <div class="sidebar-box sidebar-developers-list clearfix">
        <hgroup>
            <h2>{% trans %}bundles.show.contributors.title{% endtrans %}</h2>
        </hgroup>

        <section>
            <ul>
                <li class="contributor">
                    <a href="{{ path(bundle.ownerType == 'organization' ? 'organization_show' : 'developer_show', {'name': bundle.ownerName}) }}">
                        <img src="{{ bundle.developer.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=40') }}" alt="{{ bundle.ownerName }}" title="{{ bundle.ownerName }}" width="40" height="40">
                    </a>
                </li>

                {%- if bundle.nbContributors != 0 %}
                {%- for contributor in bundle.contributors(1, 18) %}
                <li class="contributor">
                    <a href="{{ path('developer_show', {'name': contributor.name}) }}">
                        <img src="{{ contributor.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y') }}" alt="{{ contributor.name }}" title="{{ contributor.name }}" width="40" height="40">
                    </a>
                </li>
                {%- endfor %}
                {% if bundle.nbContributors > 18 %}
                <li><span class="box-more-developers"><abbr class="icon-info" title="And {{ bundle.nbContributors - 18 }} other contributors!"></span></li>
                {%- endif %}
                {%- endif %}
            </ul>
        </section>
    </div>
{% endblock %}

{% block left %}
<div class="content-box tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#readme" data-toggle="tab"><i class="icon-info"></i>README</a></li>
        {%- if bundle.license -%}
        <li><a href="#license" data-toggle="tab"><i class="icon-bag"></i>LICENSE</a></li>
        {%- endif %}
        {%- if not bundle.canonicalConfig is empty -%}
        <li><a href="#configuration" data-toggle="tab"><i class="icon-wrench"></i>Configuration</a></li>
        {%- endif %}
        <li><a href="#activity" data-toggle="tab"><i class="icon-clock"></i>Recent activity</a></li>
    </ul>

    <div class="tab-content">
        <div id="readme" class="tab-pane active markdown">
            {% if bundle.readme %}
                {{ bundle.readme|github_md_2_md|markdown }}
            {% else %}
                No readme file found in bundle.
            {% endif %}
        </div>

        {% if bundle.license %}
        <div id="license" class="tab-pane markdown">
            {{ bundle.license|nl2br }}
        </div>
        {% endif %}

        {%- if not bundle.canonicalConfig is empty -%}
        <div id="configuration" class="tab-pane markdown">
            <pre class="code">
            {{- bundle.canonicalConfig|nl2br -}}
            </pre>
        </div>
        {%- endif -%}

        <div id="activity" class="tab-pane">
            <ul>
                {%- for commit in bundle.lastCommits %}
                <li>
                    <i class="icon-github"></i>
                    {{ commit.message_first_line }}
                    <div class="infos">{% trans %}bundles.show.latest_commits.by{% endtrans %}
                        {% if commit.committer.login is defined %}
                        <a href="{{ path('developer_show', {'name': commit.committer.login }) }}">{{ commit.committer.login }}</a>
                        {%- else -%}
                        <strong>{{ commit.author }}</strong>
                        {%- endif %},
                        <strong>{{ time_diff(commit.date) }}</strong>
                    </div>
                </li>
                {%- endfor %}
            </ul>
        </div>
    </div>
</div>

{%- if isOwnerOrContributor -%}
<form class="modal hide" action="{{ path('bundle_settings', {'id': bundle.id}) }}" method="post" id="modal-settings">
    <div class="modal-header">
        <a class="close" href="#">×</a>
        <h3>{% trans %}bundles.show.settings.modal{% endtrans %}</h3>
    </div>

    <div class="modal-body">
        <ul style="margin: 0 auto; width: 125px;">
            <li>
                <label>
                    <input type="radio" name="state" id="state0" value="unknown"{{ bundle.state == 'unknown' ? ' checked="checked"' : '' }}>
                    <span>{% trans %}bundles.show.settings.state.unknown{% endtrans %}</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="state" id="state1" value="not yet ready"{{ bundle.state == 'not yet ready' ? ' checked="checked"' : '' }}>
                    <span>{% trans %}bundles.show.settings.state.not_ready{% endtrans %}</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="state" id="state2" value="ready"{{ bundle.state == 'ready' ? ' checked="checked"' : '' }}>
                    <span>{% trans %}bundles.show.settings.state.ready{% endtrans %}</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="state" id="state3" value="deprecated"{{ bundle.state == 'deprecated' ? ' checked="checked"' : '' }}>
                    <span>{% trans %}bundles.show.settings.state.deprecated{% endtrans %}</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="button">{% trans %}bundles.show.setting{% endtrans %}</button>
    </div>
</form>
{%- endif -%}
{% endblock %}
