<h3>{% trans %}bundles.list.recentCommits{% endtrans %}</h3>
<div class="sidemenu">
    <ol class="timeline">
    {%- for commit in commits %}
        <li>
            <a href="{{ path('bundle_show', { 'ownerName': commit.bundle_ownerName, 'name': commit.bundle_name }) }}">{{ commit.bundle_name }}</a>
            {{ commit.message }}<br />
            <span>{{ commit.author }} | {{ ago(commit.committed_date) }}</span>
        </li>
    {%- endfor %}
    </ol>
</div>
