<ul class="repos-list">
    {% for repo in repos %}
    <li class="repo">
        <div class="image">
            <div class="bundlerank">
                {{ repo.score }}
            </div>
            {% if repo.user.gravatarHash %}
            <a href="{{ path('repo_show', {'username': repo.username, 'name': repo.name}) }}" class="name">
                <img src="{{ gravatar_hash(repo.user.gravatarHash, 50, none, 'identicon') }}" alt="{{ repo.name }}" />
            </a>
            {% endif %}
        </div>
        <div class="generals">
            <div class="repo-title">
                <a href="{{ path('repo_show', {'username': repo.username, 'name': repo.name}) }}" class="name">{{ repo.name }}</a>
                {% trans %}bundles.list.by{% endtrans %} <a href="{{ path('user_show', {'name': repo.username }) }}" class="owner">{{ repo.username }}</a>
            </div>
            <p class="description">{{ repo.description }}</p>
        </div>
        <div class="details">
            <ul class="infos">
                <li>{% trans %}bundles.list.createdAt{% endtrans %} <span>{{ repo.createdAt|date('date_format'|trans) }}</span></li>
                <li>{% trans %}bundles.list.lastCommit{% endtrans %} <span>{{ repo.lastCommitAt|date('date_format'|trans) }}</span></li>
                {% if repo.usesTravisCi %}
                  <li>{% trans %}bundles.list.buildStatus{% endtrans %}<span><a href="{{ repo.travisUrl }}">{{ ("travis.buildStatus." ~ repo.travisCiBuildStatus)|trans }}</a></span></li>
                {% endif %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
