<ul class="repos-list">
    {% for repo in repos %}
    <li class="repo">
        <div class="image">
            <div class="bundlerank">
                {{ repo.score }}
            </div>
            {% if repo.user.gravatarHash %}
            <a href="{{ path('repo_show', {'username': repo.username, 'name': repo.name}) }}" class="name">
                <img src="{{ gravatar_hash(repo.user.gravatarHash, 50, none, 'identicon') }}" alt="{{ repo.name }}" />
            </a>
            {% endif %}
        </div>
        <div class="generals">
            <div class="repo-title">
                <a href="{{ path('repo_show', {'username': repo.username, 'name': repo.name}) }}" class="name">{{ repo.name }}</a>
                {% trans %}bundles.list.by{% endtrans %} <a href="{{ path('user_show', {'name': repo.username }) }}" class="owner">{{ repo.username }}</a>
              {% if repo.composerName %}
              <a href="{{ repo.packagistUrl }}">
                  <img src="{{ asset('bundles/knpbundles/images/packagist.png') }}" alt="Packagist" />
              </a>
              {% endif %}
            </div>
            <p class="description">{{ repo.description }}</p>
        </div>
        <div class="details">
            <ul class="infos">
                <li>{% trans %}bundles.list.createdAt{% endtrans %} <span>{{ repo.createdAt|date('date_format'|trans) }}</span></li>
                <li>{% trans %}bundles.list.lastCommit{% endtrans %} <span>{{ repo.lastCommitAt|date('date_format'|trans) }}</span></li>
                {% if repo.usesTravisCi %}
                <li class="info-travis">
                    <a href="http://travis-ci.org/{{ repo.username }}/{{ repo.name }}">
                        <img src="https://secure.travis-ci.org/{{ repo.username }}/{{ repo.name }}.png" alt="Travis CI"></img>
                    </a>
                 </li>
                {% endif %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
