{% extends 'KnpBundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="repos-list"{% endblock %}

{% block content %}
    <div id="main">
        <div id="sort">
            <a class="button" id="add-repo-btn" href="{{ path('add_repo') }}">{% trans %}addRepo.addRepoManually{% endtrans %}</a>
            <ul class="tabs" id="repo-tabs">
                {%- for field, text in sortLegends %}
                <li{{ field == sort ? ' class="current"' : '' }}>
                    <a href='{% block route_list %}{{ path('bundle_list', {'sort': field}) }}{% endblock %}'>{{ text|trans }}</a>
                </li>
                {%- endfor %}
            </ul>
        </div>
        {% include 'KnpBundlesBundle:Repo:bigList.html.twig' with {'repos': repos} %}
        {{ repos|paginate }}
    </div>
{% endblock %}
