<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
    <id>Symfony2 Bundles &amp; Projects</id>
    <link type="text/html" rel="alternate" href="{{ url('bundle_list', {'sort': 'newest'}) }}"/>
    <link type="application/atom+xml" rel="self" href="{{ url('latest', {'format': 'atom'}) }}"/>
    <title>Symfony2 Bundles &amp; Projects</title>
    <updated>{{ 'now'|date('c') }}</updated>
    {%- for repo in repos %}
    <entry>
        <id>{{ repo.fullName }}</id>
        <published>{{ repo.createdAt|date('c') }}</published>
        <updated>{{ repo.lastCommitAt|date('c') }}</updated>
        <link type="text/html" rel="alternate" href="{{ url('repo_show', {'username': repo.username, 'name': repo.name}) }}"/>
        <title>{{ repo.name }}</title>
        <author>
            <name>{{ repo.username }}</name>
            <uri>https://github.com/{{ repo.username }}</uri>
        </author>
        <content type="html">
            &lt;strong&gt;{{ repo.description }}&lt;/strong&gt;&lt;br /&gt;
        </content>
    </entry>
    {%- endfor %}
</feed>
