{% extends 'KnpBundlesBundle:Repo:search.html.twig' %}

{% block body_attributes %}id="search-result"{% endblock %}

{% block search_query %}{{ query }}{% endblock %}

{% block title %}{% trans with {'%query%': query} %}search.results.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans with {'%count%': repos|length, '%query%': query} %}search.results.meta.description{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans with {'%query%': query} %}search.results.title{% endtrans %}</h1>
    <div id="main">
        <div id="search-result-bundles">
            <h2>{{ bundles|length }} Bundle{{ bundles|length > 1 ? 's' : '' }}</h2>
            {% include 'KnpBundlesBundle:Bundle:bigList.html.twig' with {'repos': bundles} %}
        </div>
        <div id="search-result-projects">
            <h2 class="section-title">{{ projects|length }} Project{{ projects|length > 1 ? 's' : '' }}</h2>
            {% include 'KnpBundlesBundle:Project:bigList.html.twig' with {'repos': projects} %}
        </div>
    </div>
{% endblock %}
