{% extends 'KnpBundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="repo-show"{% endblock %}

{% block title %}{% trans with {'%name%': repo.name, '%username%': repo.username} %}bundles.show.meta.title{% endtrans %}{% endblock %}

{% block content_title %}
<div id="repo-title">
    <h1>{{ repo.name }}</h1>
    <div class="actions">
        <div id="repo-gplusone"><g:plusone {% if repo.homepage %}href="{{ repo.homepage }}"{% endif %}></g:plusone></div>
        <a class="button github" style="float:right; margin-top: 0px; margin-right: 40px;" href="{{ repo.gitHubUrl }}">{% trans %}bundles.show.github{% endtrans %}</a>
    </div>
</div>
{% endblock %}

{% block description %}{{ repo.description }}{% endblock %}

{% block content %}
    <div class="commits">
        <h3>{% trans %}bundles.show.infos.title{% endtrans %}</h3>
        <ul>
            <li>{% trans %}bundles.show.infos.score{% endtrans %} <span>{{ repo.score }}</span></li>
            <li>{% trans %}bundles.show.infos.created{% endtrans %} <span>{{ repo.createdAt|date('date_format'|trans) }}</span></li>
            <li>{% trans %}bundles.show.infos.contributors{% endtrans %} <span>{{ repo.nbContributors }}</span></li>
            <li>{% trans %}bundles.show.infos.followers{% endtrans %} <span>{{ repo.nbFollowers }}</span></li>
            <li>{% trans %}bundles.show.infos.buildStatus{% endtrans %} <span><a href="{{ repo.travisUrl }}">{{ ("travis.buildStatus." ~ repo.travisCiBuildStatus)|trans }}</a></span></li>
        </ul>

        <h3>{% trans %}bundles.show.latest_commits.title{% endtrans %}</h3>
        <ul>
        {%- for commit in repo.lastCommits %}
            <li>{{ commit.message_first_line }}<div class="infos">{% trans %}bundles.show.latest_commits.by{% endtrans %} <a href="{{ path('user_show', {'name': commit.author.login }) }}">{{ commit.author.login }}</a> {{ time_diff(commit.committed_date) }}</div></li>
        {%- endfor %}
        <ul>
    </div>

    <div id="main">
        <div class="details">
            <p class="description">{{ repo.description }}</p>
        </div>
    </div>

    <ul class="user-list hide-contributors">
        <li class="user">
            {% trans %}bundles.show.users.by{% endtrans %} <a href="{{ path('user_show', {'name': repo.username}) }}">{{ repo.username }}</a>
        </li>

        {%- if repo.nbContributors != 0 %}
            <li class="contributor-others-switch">{% trans %}bundles.show.users.and{% endtrans %} <a href="#">{% trans %}bundles.show.users.contributors{% endtrans %}</a></li>
            {%- for contributor in repo.contributors %}
                <li class="contributor"><a href="{{ path('user_show', {'name': contributor}) }}">{{ contributor }}</a>
            {%- endfor %}
        {%- endif %}
    </ul>

    {% if repo.readme %}
    <div id="data">
        <div id="readme">
            <div class="markdown">
                {{ repo.readme|markdown }}
            </div>
        </div>
    </div>
    {% endif %}
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 's2b';
        {% if app.environment == 'dev' %}
        var disqus_developer = 1;
        {% endif %}
        var disqus_identifier = '{{ repo.username }}_{{ repo.name }}';
        var disqus_url = '{{ url('repo_show', {'username':repo.username, 'name':repo.name}) }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}
