{% extends 'KnplabsSymfony2BundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="developers-list"{% endblock %}

{% block h1 %}All {{ users|length }} Developers{% endblock %}

{% block title %}All {{ users|length }} Developers{% endblock %}

{% block description %}Symfony2 Bundle developers{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">Home</a> &gt;
    <span>Developers</span>
{% endblock %}

{% block content %}
    <div id="main">
        <div id="sort">
            <span class="sort-by">Sort by</span>
            <ul class="tabs">
                {% for field, text in sortFields %}
                <li{{ field == sort ? ' class="current"' : '' }}>
                    <a href='{{ path('user_list', {'sort': field}) }}'>{{ text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <ul class="developers-list">
            {% for user in users %}
            <li class="developer">
                <div class="generals">
                    <a class="name" href="{{ url('user_show', {'name': user.name}) }}">{{ user.name }}</a>
                    <span class="location">{{ user.location }}</span>
                </div>
                <div class="details">
                    <a class="button more" href="{{ url('user_show', {'name': user.name}) }}">More details</a>
                    <ul class="infos">
                        <li>Last commit <span>{{ user.lastCommitAt|date('Y/m/d') }}</span></li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="side">
        {% render 'symfony2bundles.controller.bundle:listFeaturedAction' with {'max': 2} %}
    </div>
{% endblock %}
