{% extends 'KnpBundlesBundle::layout/900px.html.twig' %}

{% block title %}{% trans with {'%count%': paginator.nbResults, '%sort%': sort} %}organizations.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans with {'%count%': paginator.nbResults, '%sort%': sort} %}organizations.meta.description{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>Organizations</h1>
    <h2>Our family has {{ paginator.nbResults }} Organizations!</h2>
</div>
{% endblock %}

{% block content_holder %}
<div id="content-holder">
    <div class="content-box">
        <hgroup>
            <div class="btn-group btn-sort">
                <button class="btn dropdown-title" data-toggle="dropdown"><i class="icon-{{ sort }}"></i>{{ sortLegends[sort]|trans }}</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {%- for field, text in sortLegends %}
                    <li><i class="icon-{{ field }}"></i><a href="{{ path('organization_list', {'sort': field}) }}">{{ text|trans }}</a></li>
                    {%- endfor %}
                </ul>
            </div>

            <h2>{% trans with {'%count%': paginator.nbResults, '%sort%': sort, '[': '<span>', ']': '</span>'} %}organizations.title{% endtrans %}</h2>
        </hgroup>

        <section class="developers-list">
            {%- for organization in organizations %}
            <article class="developer {{ loop.index is even ? 'even' : '' }} {% if loop.index % 3 == 0 %}no-right-border{% endif %} {% if loop.index > (loop.length - 3) %}no-bottom-border{% endif %}">
                <figure>
                    <a href="{{ url('organization_show', {'name': organization.name}) }}">
                        <img src="{{ organization.avatarUrl|default('http://www.gravatar.com/avatar/?d=identicon&f=y&s=50') }}" alt="{{ organization.name }}, Symfony organization" width="50" height="50" />
                    </a>
                </figure>

                <div class="generals">
                    <h3><a href="{{ path('organization_show', {'name': organization.name}) }}">{{ organization.name }}</a></h3>
                    <p>{{ organization.fullName|default('−') }}</p>

                    {%- if organization.location %}
                    <span class="location">
                        {% trans %}organizations.list.location{% endtrans %}
                        <strong>{{ organization.location }}</strong>
                    </span>
                    {%- endif %}
                    <span class="created-at">{% trans %}bundles.list.createdAt{% endtrans %} <strong>{{ organization.createdAt|date('date_format'|trans) }}</strong></span>
                </div>
            </article>
            {%- endfor %}

            {{ pagerfanta(paginator, 'knp_bundles_view') }}
        </section>
    </div>
</div>
{% endblock %}
