<h3>{% trans %}bundles.list.recentCommits{% endtrans %}</h3>
<div class="sidemenu">
    <ol class="timeline">
    {%- for commit in commits %}
        <li>
            <a href="{{ path('repo_show', { 'username': commit.repo_username, 'name': commit.repo_name }) }}">{{ commit.repo_name }}</a>
            {{ commit.message }}<br />
            <span>{{ commit.author }} | {{ ago(commit.committed_date) }}</span>
        </li>
    {%- endfor %}
    </ol>
</div>
