{% extends 'KnpSymfony2BundlesBundle::layout.html.twig' %}

{% block content_title %}
<div id="repo-title">
    <h1>{{ user.name }}</h1>
    <div class="actions" style="float:left">
        <a class="button github" href="{{ user.gitHubUrl }}">View on Github</a>
    </div>
</div>
{% endblock %}

{% block title %}{{ user.name }} - {{ user.fullName }}{% endblock %}

{% block description %}{{ user.fullName }} has {{ user.nbBundles }} Symfony2 bundles{% endblock %}

{% block body_attributes %}id="developer-show"{% endblock %}

{% block content %}
    <div id="main">
        <img class="gravatar" src="{{ gravatar(user.email, 150, none, 'mm') }}" width="150" height="150" />
        <div class="card">
            <ul class="stats">
                <li>Location: <span>{{ user.location }}</span></li>
                <li>Last commit <span>{{ user.lastCommitAt|date('Y-m-d') }}</span></li>
                <li>Num bundles <span>{{ user.nbBundles }}</span></li>
                <li>Num projects <span>{{ user.nbProjects }}</span></li>
                {% if user.blog %}
                <li>My website <span><a href="{{ user.blog }}">{{ user.blog }}</a></span></li>
                {% endif %}
            </ul>
        </div>
        {%- if user.bundles|length > 0 %}
        <div class="bundles-i-manage">
            <h2>Bundles I manage</h2>
            {% include 'KnpSymfony2BundlesBundle:Bundle:mediumList.html.twig' with {'repos': user.bundles} %}
        </div>
        {%- endif %}
        {%- if user.contributionBundles|length > 0 %}
        <div class="bundles-i-contribute-to">
            <h2>Bundles I contribute to</h2>
            {% include 'KnpSymfony2BundlesBundle:Bundle:mediumList.html.twig' with {'repos': user.contributionBundles} %}
        </div>
        {%- endif %}
        {%- if user.projects|length > 0 %}
        <div class="projects-i-manage">
            <h2>Projects I manage</h2>
            {% include 'KnpSymfony2BundlesBundle:Project:mediumList.html.twig' with {'repos': user.projects} %}
        </div>
        {%- endif %}
        {% if user.contributionProjects|length > 0 %}
        <div class="projects-i-contribute-to">
            <h2>Projects I contribute to</h2>
            {% include 'KnpSymfony2BundlesBundle:Project:mediumList.html.twig' with {'repos': user.contributionProjects} %}
        </div>
        {%- endif %}
    </div>
{% endblock %}
